html,
body {
    height: 100%;
    font-family: tnt;
}

body {
    padding: 5em;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #333333, #112222);
}

main {
    color: #fff6d5;
    display: block;
    text-align: left;
    height: 30em;
    width: 40em;
    white-space: pre;
    background: linear-gradient(to bottom right, #112222, #001111);
    padding: 1.5em;
}

input {
    width: 0px;
    height: .5em;
}

@font-face {
    font-family: tnt;
    src: url('AtariClassic-Regular.ttf');
}
